<app-header></app-header>

<div class="login-container">
    <div class="login-title">
        <h2>Login</h2>
    </div>

    <div class="form">
        <form class="example-form">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>login</mat-label>
                <input type="email" matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>password</mat-label>
                <input type="password" matInput>
            </mat-form-field>

            <div class="container-for-button">
                <button mat-raised-button class="login-button">Login</button>
            </div>
        </form>
    </div>
</div>