<!-- pattern="[a-zA-Z ]*" -->
<header class="header">

    <div class="header-subcontainer">

        <div class="play-container">
            <button class="logo-button"><img src="assets/images/logo.png" alt=""></button>
        </div>

        <div class="input-container">
            <form class="example-form">
                <input type="email" matInput placeholder="What are you want to find out?">
            </form>
        </div>

        <div class="search-container">
            <button mat-raised-button class="search-button">search</button>
        </div>

        <div class="mixer-container">
            <button mat-raised-button class="vector-button"><img src="assets/images/Vector.png" alt="vector"></button>
        </div>

        <div class="user-container">
            <button mat-raised-button class="user-button"><mat-icon>person</mat-icon></button>
        </div>

    </div>

</header>